@charset "utf-8";
/* CSS Document */
.poggers {
	text-align: center;
	font-family: fieldwork, sans-serif;
	font-size: 100px;
	background: linear-gradient(53deg,
      #ccfffc,
      #ffcccf
	);
	width: 600px;
	margin: auto;
	padding-top: 10px;
	border-radius: 25px;  
}

body {
  background-image: url("background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
}

.maintext {
	color: black; 
	text-align: center;	
	font-family: fieldwork, sans-serif;
	font-size: 40px;
	background: #D4E1E4;
	width: 1500px;
	margin: auto;
	border-radius: 25px;
}